click==6.7
Flask-Admin==1.5.1
Flask-SQLAlchemy==2.3.2
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pyserial==3.2.1
pytz==2018.5
requests==2.19.1
RPi.GPIO==0.6.3
SQLAlchemy==1.2.10
Werkzeug==0.14.1
