[Unit]
Description=Agua Webserver
After=network.target

[Service]
User=pi
ExecStart=/home/pi/Badulina-control-system/daemons/daemon_spawn.sh
EnvironmentFile=/home/pi/.agua.env
Restart=always
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
