{% extends "base.html" %}
{% block title %}History{% endblock %}
{% block content %}
 <script>
        function reload() {
            window.location.href = window.location.href;
        }
        var secs = 10;
        var ms = 1000 * secs;
        setInterval(reload, ms);
    </script>
  <h1>History</h1>
    <table >
        <thead>
          <tr>
            Last Day Water
            {{totaldayagua | int}}
            <td>
                Time
            </td>
            <td>
                Valves:
            </td> 
            {% for valve in schema.Valves %}
              <td>
                {{valve + 1}}
              </td>
            {% endfor %}
            <td>
                Flow (L/min)
            </td> 

        </tr>
        </thead>
        <tbody>
        {% for reading in readings %}
          <tr>
            <td>
            {{ reading.time.strftime('%m/%d/%Y %H:%M') }}
            </td>
            <td>
            </td>
            {% for valve in schema.Valves %}
              <td>
              <div>
                  <input type="checkbox" disabled="disabled" {{ 'checked' if valve in reading.valves else '' }}/>
              </div>
              </td>
            {% endfor %}
            <td>
            {{ reading.data | int}}
            </td>
          </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
