{% extends "base.html" %}
{% block title %}Relays{% endblock %}
{% block content %}
  <h1>Relays</h1>
  <form method="post">
    {% for board in boards %}
    <ul>
      {{ board.name }}
      {% for relay in board.relays %}
      <li>
        <button name="{{relay.board}}: {{relay.idx}}" value="{{not relay.is_on}}">
          {{relay.idx}}
          {% if relay.is_on %}
          On
          {% else %}
          Off
          {% endif %}
        </button>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </form>
{% endblock %}
