{% extends "base.html" %}
{% block title %}System Schedule{% endblock %}
{% block content %}
    <h1>System Schedule</h1>
    <table >
        <thead>
          <tr>
            <td>
            Day
            </td>
            <td>
            Start
            </td>
            <td>
            Stop
            </td> 
            <td>
            Valves:
            </td> 
            {% for valve in schema.Valves %}
              <td>
                {{valve + 1}}
              </td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {% if ERR %}
              {{ERRMSG}}
            {% endif %}
          </td>
        </tr>
        <tr>
        <form method="post">
          <td>
            <select name="day">
              {% for day in schema.Days %}
              <option value="{{day.value}}">{{day.name}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select name="start-hour">
              {% for hour in range(24) %}
                  <option value="{{hour}}">{{"%02d"|format(hour)}}</option>
              {% endfor %}
            </select>
            <select name="start-min">
              {% for min in range(60) %}
                  <option value="{{min}}">{{"%02d"|format(min)}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select name="stop-hour">
              {% for hour in range(24) %}
                  <option value="{{hour}}">{{"%02d"|format(hour)}}</option>
              {% endfor %}
            </select>
            <select name="stop-min">
              {% for min in range(60) %}
                  <option value="{{min}}">{{"%02d"|format(min)}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
          </td>
            {% for valve in schema.Valves %}
              <td>
              <div>
                <input type="checkbox" name="valve:{{valve}}" />
              </div>
              </td>
            {% endfor %}
          <td>
            <button type="submit">Create</button>
          </td>
        </tr>
        </form>
          {% for event in events %}
          <tr>
            </td>                
            <td>
            {{ event.day.name }}
            </td>
            <td>
            {{ event.start.strftime('%H:%M') }}
            </td>
            <td>
            {{ event.stop.strftime('%H:%M') }}
            </td>
            <td>
            </td>
            {% for valve in schema.Valves %}
              <td>
              <div>
                  <input type="checkbox" disabled="disabled" {{ 'checked' if valve in event.valves else '' }}/>
              </div>
              </td>
            {% endfor %}
          <td>
            <form method="post">
              <button name="delete" value="{{event.id}}" type="submit">Delete</button>
            </form>
          </td>
          {% if event.in_progress %}
          <td>
            (in progress)
            {% if modified  %}
            System has been manually altered
            {% endif %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
