{% extends "base.html" %}
{% block title %}System Schedule{% endblock %}
{% block content %}
    <h1>System Schedule</h1>
    <table >
        <thead>
          <tr>
            <td class="col-day">
            Day
            </td>
            <td class="col-start">
            Start
            </td>
            <td class="col-stop">
            Stop
            </td> 
            <td>
            Valves:
            </td> 
            {% for valve in schema.Valves %}
              <td class="col-valves-{{valve}}">
                {{valve + 1}}
              </td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr>
            </td>                
            <td class="col-day">
            {{ event.day.name }}
            </td>
            <td class="col-start">
            {{ event.start.strftime('%H:%M') }}
            </td>
            <td class="col-stop">
            {{ event.stop.strftime('%H:%M') }}
            </td>
            <td>
            </td>
            {% for valve in schema.Valves %}
              <td class="col-valves-{{valve}}">
              <div>
                  <input type="checkbox" disabled="disabled" {{ 'checked' if valve in event.valves else '' }}/>
              </div>
              </td>
            {% endfor %}
          <td>
            <form method="post">
              <button name="delete" value="{{event.id}}" type="submit">Delete</button>
            </form>
          </td>
          {% if event.in_progress %}
          <td>
              (in progress)
          </td>
          {% endif %}
        </tr>
        {% endfor %}
        <form method="post">
        <tr>
          <td class="col-day">
            <select class="form-control" data-role="select" id="day" name="day" title="Day">
              {% for day in schema.Days %}
              <option value="{{day.value}}">{{day.name}}</option>
              {% endfor %}
          </td>
          <td class="col-start">
            <input type="time" id="start" name="start" step="60" required />
          </td>
          <td class="col-stop">
            <input type="time" id="stop" name="stop" step="60" required />
          </td>
          <td>
          </td>
            {% for valve in schema.Valves %}
              <td class="col-valves-{{valve}}">
              <div>
                <input type="checkbox" name="valve:{{valve}}" />
              </div>
              </td>
            {% endfor %}
          <td>
            <button type="submit">Create</button>
          </td>
        </tr>
        </form>
    </tbody>
    </table>
    {% if ERR %}
      {{ERRMSG}}
    {% endif %}
{% endblock %}
