{% extends "base.html" %}
{% block title %}System Status{% endblock %}
{% block content %}
    <h1>System Status</h1>
    <div>Node-Red: Current Water flow is <b>{{current_flow }}</b> L/sec</div>
    <div>Python: Last Recorded water flow in DB  was <b>{{ last_flow.data }}</b> L/sec at <i>{{ last_flow.time.strftime('%m/%d/%Y %H:%M') }}</i> [this needs to be calibrated by K emperically]</div>
    <br/>
    {% if ERR %}
    <div>NO PUMP WITH CLOSED VALVES!</div>
    {% endif %}
    <form class="container" method="post">
      {% if operational %}
          <button name="suspend" >Suspend</button>
      {% else %}
          <button name="resume" >Resume</button>
      {% endif %}
      <ul>
      <button name="pump" value="{{not pump.is_on}}">Pump is {{'On' if pump.is_on else 'Off'}}</button>
      {% for valve in valves %}
        <li>
          <button name="valve:{{valve.idx}}" value="{{not valve.is_on}}">
              Valve {{valve.idx+1}} is {{'Open' if valve.is_on else 'Closed'}}
          </button>
        </li>
      {% endfor %}
      </ul>
    </form>
{% endblock %}

